body {
  font-family:verdana;
  color:rgb(90,150,255);
  background-color:rgb(50,60,75);
}

h1, h2 {
  text-align:center;
}

#description {
  font-family:'Special Elite', verdana;margin:50px;float:left;width:30%;
}

ol {
  list-style-type: disc;
}

li {
  margin-bottom: 20px;
}

#Mia {
  margin:50px;float:right;width:55%;
  border-style: solid;
  border-color: rgb(90,150,255);
  border-radius: 5%;
}
